---
import MainLayout from "../layouts/MainLayout.astro";
import CardAbonnement from "../components/CardAbonnement.astro";
import Hero_undersider from "../components/Hero_undersider.astro";
import CardTips from "../components/CardTips.astro";
import Carousel from "../components/Carousel.astro";
import CarouselIkon from "../components/CarouselIkon.astro";

import { Image } from "astro:assets";
import fragt from "../assets/images/icons/fragt.svg";
import binding from "../assets/images/icons/binding.svg";
import month from "../assets/images/produkter/month.png";
import alturas from "../assets/images/produkter/alturas.webp";
import gave from "../assets/images/produkter/gave.webp";
import branchbig from "../assets/images/branch-big.svg";
import branchsmall from "../assets/images/branch-small.svg";
import beans from "../assets/images/beans.png";
import beans_icon from "../assets/images/icons/beans.svg";
import pil_l from "../assets/images/om_os/pil_l.svg";
import samlet from "../assets/images/produkter/samlet.png";
import kop from "../assets/images/kop.svg";
import kopkaffe from "../assets/images/kop.png";
import hero from "../assets/images/abonnement_side/hero.png";
import espresso from "../assets/images/tips/espresso.webp";
import hjerte from "../assets/images/tips/hjerte.webp";
import iskaffe from "../assets/images/tips/iskaffe.webp";
import julehygge from "../assets/images/tips/julehygge.webp";
import latte from "../assets/images/tips/latte.webp";
import steammilk from "../assets/images/tips/steammilk.webp";
---

<MainLayout title="Abonnementer" description="En hjemmesider der sælger økologisk kaffe, udstyr og kaffe på abonnement" og:title="ØNSK" og:description="Dette er en hjemmesside lavet af ØNSK, der sælger økologisk kaffe">
  <section id="hero">
    <Hero_undersider illustration={hero} overskrift="Abonnementer" />
  </section>

  <section id="abonnementer" class="mt-68 mb-288 mx-32 grid justify-items-center overflow-hidden">
    <div class="grid grid-cols-3 gap-x-112">
      <h2 class="col-start-1 col-span-3 row-start-1 row-span-1 font-display font-bold text-mobile_m md:text-m text-brown-800 pb-80">Find dit abonnement</h2>
      <CardAbonnement image={alturas} name="Standard abonnement" variant="Fast kaffevariant" prize="85,50 kr. - 238,50 kr." badgerabat="true" />
      <CardAbonnement image={month} name="Smags abonnement" variant="Fast kaffevariant + månedens kaffe" prize="95 kr. - 265 kr." />
      <CardAbonnement image={gave} name="Gave abonnement" variant="Fast kaffevariant" prize="400 kr. - 4.140 kr. " />
    </div>
  </section>

  <section id="om-abonnement" class="relative bg-brown-100 grid justify-items-center items-center py-96 px-20 md:px-32">
    <div class="absolute z-10 grid place-items-end w-full -top-112 lg:-top-176"><Image src={branchbig} alt="" class="-scale-x-100 w-[250px] lg:w-[424px]" /></div>
    <div class="absolute z-10 hidden lg:grid place-items-start w-full"><Image src={branchsmall} alt="" class="-scale-x-100" /></div>
    <article class="max-w-[639px] mx-auto pb-80">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-40">Om et ØNSK abonnement</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Med et abonnement på ØNSK kaffe får du hver måned leveret friskristede, økologiske kaffebønner eller kapsler direkte til din dør.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Abonnementet er fleksibelt, så du nemt kan ændre din levering eller sætte det på pause, når det passer dig. Det gør det enkelt at nyde kvalitetskaffe derhjemme uden at løbe tør.</p>
    </article>
    <article class="flex justify-items-center gap-144">
      <div><Image src={binding} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800 text-center pt-52">Ingen binding</h3></div>
      <div><Image src={fragt} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800 text-center pt-52">Gratis fragt</h3></div>
    </article>
  </section>

  <section id="kvali" class="grid lg:grid-cols-12 mt-68 mb-288 px-20 md:px-32 relative parallaxgrafik">
    <div class="absolute z-10 grid place-items-end w-full -top-112 lg:-top-176 parallaxgrafik1"><Image src={beans} alt="" class="-scale-x-100 w-[250px] lg:w-[424px]" /></div>
    <article class="max-w-424 md:max-w-full mx-auto lg:col-start-2 md:col-span-5 lg:col-span-4 md:row-start-1 md:row-span-1 pb-40 md:pb-0">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-40">Kvalitet i Hver Eneste Detalje</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Hver bønne, vi rister, bærer på en historie. En historie om håndværk, passion og dedikation.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Som certificeret B Corp sætter vi bæredygtighed og social ansvarlighed i fokus. Fra ansvarlige dyrkningsmetoder til præcisionsristning sikrer vi, at hver bønne lever op til de højeste standarder.</p>
    </article>
    <article class="max-w-424 mx-auto md:col-start-6 lg:col-start-8 md:col-span-5 lg:col-span-4 md:row-start-2 md:row-span-1">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-40">Smagsrejsen med ØNSK kaffe</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Når du åbner en pakke ØNSK kaffe, træder du ind i en verden af smagsoplevelser.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Fra den lette, frugtige friskhed, hvor du kan finde subtile noter af citrus og bær, til de mørkere, dybere nuancer med hints af chokolade, karamel og krydderier.</p>
    </article>
  </section>

  <section id="calculator" class="relative">
    <div class="absolute z-10 grid place-items-start w-full -top-112 lg:-top-360"><Image src={branchbig} alt="" class="w-[250px] lg:w-[424px]" /></div>
    <div class="grid lg:grid-cols-3 bg-brown-100 mx-20 md:mx-32 py-68 px-20 rounded-lg gap-112 lg:gap-40">
      <article>
        <h2 class="font-display font-bold text-mobile_s md:text-s text-brown-800 pb-40">Hvor meget kaffe passer til mig?</h2>
        <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Flyt cirklen langs bjælken på hvor meget kaffe din hustand drikker om dagen.</p>
        <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-20">Så beregner vi hvor meget kaffe der passer til dine behov.</p>
        <p class="italic font-body font-regular text-mobile_base md:text-base text-brown-800">1 kop kaffe = 18 gram per dag</p>
      </article>

      <article class="grid justify-items-center lg:order-2">
        <Image src={samlet} alt="" class="" />
        <h3 class="font-display font-bold text-mobile_s md:text-s text-brown-800">1x 500</h3>
        <h3 class="font-display font-bold text-mobile_s md:text-s text-brown-800">Grams poser</h3>
        <h4 class="font-display font-regular text-mobile_base md:text-base text-brown-800">Hver måned</h4>
      </article>

      <!-- Lavet med inspiration fra Vue Range Slider (https://codepen.io/netzzwerg/pen/mXWNEL?editors=1000) -->
      <article class="grid justify-items-center items-center gap-40">
        <Image src={kop} alt="" class="" />
        <div id="slider-bar" class="h-28 w-full rounded-full bg-brown-50 relative grid items-center"><div id="slider-handle" class="absolute z-10 w-[58px] h-[58px] rounded-full bg-brown-800 text-brown-50 cursor-pointer grid place-items-center">1 kop</div></div>
      </article>
    </div>
    <div class="absolute z-10 grid place-items-end w-full -bottom-192"><Image src={kopkaffe} alt="" class="" /></div>
  </section>
  <div class="absolute z-10 grid self-end"><Image src={branchsmall} alt="" class="-scale-x-100" /></div>
  <section class="my-192">
    <div class="relative md:flex items-center overflow-hidden pl-20">
      <Carousel variant="left">
        <CardTips image={espresso} text="Latte art for begyndere" />
        <CardTips image={hjerte} text="Latte art for begyndere" />
        <CardTips image={iskaffe} text="Latte art for begyndere" />
        <CardTips image={julehygge} text="Latte art for begyndere" />
        <CardTips image={latte} text="Latte art for begyndere" />
        <CardTips image={steammilk} text="Latte art for begyndere" />
      </Carousel>
      <CarouselIkon ikon={beans_icon} ikon_name="Tips og tricks" />

      <div class="hidden md:block absolute top-1/2 left-40">
        <Image src={pil_l} alt="" class="w-[50px] h-auto" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";
  /* Parallaxgrafik */
  scroll(animate(".parallaxgrafik1", { y: [0, 150, 500, 1000], x: [0, -200, -300, -400, -1500] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end 80%"],
  });
</script>
