---
import MainLayout from "../layouts/MainLayout.astro";
import CardAbonnement from "../components/CardAbonnement.astro";
import Hero_undersider from "../components/Hero_undersider.astro";
import CardTips from "../components/CardTips.astro";
import Carousel from "../components/Carousel.astro";
import Caruosel from "../components/Caruosel.astro";
import CarouselIkon from "../components/CarouselIkon.astro";

import { Image } from "astro:assets";
import fragt from "../assets/images/icons/fragt.svg";
import binding from "../assets/images/icons/binding.svg";

import branchbig from "../assets/images/branch-big.svg";
import branchsmall from "../assets/images/branch-small.svg";
import beans_icon from "../assets/images/icons/beans.svg";
import pil_l from "../assets/images/om_os/pil_l.svg";
import kop from "../assets/images/icons/kop.svg";

import month from "../assets/images/produkter/month.png";
import alturas from "../assets/images/produkter/alturas.webp";
import gave from "../assets/images/produkter/gave.webp";
import beans from "../assets/images/beans.png";
import samlet from "../assets/images/produkter/samlet.png";
import kopkaffe from "../assets/images/kop.png";
import hero from "../assets/images/abonnement_side/hero.png";
import beans_all_animation from "../assets/images/abonnement_side/beans-big-animation.png";
import beans_animation from "../assets/images/abonnement_side/beans-animation.png";
import espresso from "../assets/images/tips/espresso.webp";
import hjerte from "../assets/images/tips/hjerte.webp";
import iskaffe from "../assets/images/tips/iskaffe.webp";
import julehygge from "../assets/images/tips/julehygge.webp";
import latte from "../assets/images/tips/latte.webp";
import steammilk from "../assets/images/tips/steammilk.webp";
---

<MainLayout title="Abonnementer" description="En hjemmesider der sælger økologisk kaffe, udstyr og kaffe på abonnement" og:title="ØNSK" og:description="Dette er en hjemmesside lavet af ØNSK, der sælger økologisk kaffe">
  <section id="hero">
    <Hero_undersider illustration={hero} overskrift="Abonnementer" />
  </section>

  <!----------------- FIND ABONNEMENT --------------------->
  <section id="abonnementer" class="my-96 md:my-192 mx-20 md:mx-32 grid justify-items-center">
    <div class="grid grid-cols-3">
      <h2 class="col-start-1 col-span-3 row-start-1 row-span-1 font-display font-bold text-mobile_m md:text-m text-brown-800">Find dit abonnement</h2>
      <div class="col-start-1 col-span-3 row-start-2 row-span-1">
        <Caruosel>
          <CardAbonnement image={alturas} name="Standard abonnement" variant="Fast kaffevariant" prize="85,50 kr. - 238,50 kr." badgerabat="true" />
          <CardAbonnement image={month} name="Smags abonnement" variant="Fast kaffevariant + månedens kaffe" prize="95 kr. - 265 kr." />
          <CardAbonnement image={gave} name="Gave abonnement" variant="Fast kaffevariant" prize="400 kr. - 4.140 kr. " />
        </Caruosel>
      </div>
    </div>
  </section>

  <!----------------- OM ABONNEMENTER --------------------->
  <section id="om-abonnement" class="mb-96 md:mb-192 px-20 md:px-32 py-52 md:py-108 relative bg-brown-100 grid justify-items-center items-center">
    <div class="absolute z-10 grid place-items-end w-full -top-112 lg:-top-192"><Image src={branchbig} alt="" class="-scale-x-100 w-[250px] lg:w-[424px]" /></div>
    <div class="absolute z-10 hidden lg:grid place-items-start w-full"><Image src={branchsmall} alt="" class="-scale-x-100" /></div>
    <article class="max-w-[639px] mx-auto pb-80">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-40">Om et ØNSK abonnement</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Med et abonnement på ØNSK kaffe får du hver måned leveret friskristede, økologiske kaffebønner eller kapsler direkte til din dør.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Abonnementet er fleksibelt, så du nemt kan ændre din levering eller sætte det på pause, når det passer dig. Det gør det enkelt at nyde kvalitetskaffe derhjemme uden at løbe tør.</p>
    </article>
    <article class="flex justify-items-center gap-144">
      <div><Image src={binding} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800 text-center pt-52">Ingen binding</h3></div>
      <div><Image src={fragt} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800 text-center pt-52">Gratis fragt</h3></div>
    </article>
  </section>

  <!----------------- KVALITET OG SMAG --------------------->
  <section id="kvali" class="mb-96 md:mb-192 px-20 md:px-32 grid lg:grid-cols-12 relative parallaxgrafik">
    <div class="hidden md:block col-start-9 col-span-4 row-start-1 -mt-176 translate-x-32 relative">
      <Image src={beans_all_animation} alt="" class="w-[250px] lg:w-[424px]" />
      <div class="absolute z-20 -mt-176 parallaxgrafik1"><Image src={beans_animation} alt="" class="w-[112px] h-[112px]" /></div>
    </div>
    <article class="max-w-424 md:max-w-full mx-auto lg:col-start-2 md:col-span-5 lg:col-span-4 md:row-start-1 md:row-span-1 pb-40 md:pb-0">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-20 md:pb-40">Kvalitet i Hver Eneste Detalje</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Hver bønne, vi rister, bærer på en historie. En historie om håndværk, passion og dedikation.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Som certificeret B Corp sætter vi bæredygtighed og social ansvarlighed i fokus. Fra ansvarlige dyrkningsmetoder til præcisionsristning sikrer vi, at hver bønne lever op til de højeste standarder.</p>
    </article>
    <article class="max-w-424 mx-auto md:col-start-6 lg:col-start-8 md:col-span-5 lg:col-span-4 md:row-start-2 md:row-span-1">
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800 pb-20 md:pb-40">Smagsrejsen med ØNSK kaffe</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Når du åbner en pakke ØNSK kaffe, træder du ind i en verden af smagsoplevelser.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Fra den lette, frugtige friskhed, hvor du kan finde subtile noter af citrus og bær, til de mørkere, dybere nuancer med hints af chokolade, karamel og krydderier.</p>
    </article>
  </section>

  <!----------------- CALCULATOR --------------------->
  <section id="calculator" class="relative">
    <div class="absolute z-10 grid place-items-start w-full -top-176 lg:-top-360"><Image src={branchbig} alt="" class="w-[250px] lg:w-[424px]" /></div>
    <div class="grid lg:grid-cols-3 bg-brown-100 mx-20 md:mx-32 py-68 px-20 rounded-lg gap-112 lg:gap-40">
      <article>
        <h2 class="font-display font-bold text-mobile_s md:text-s text-brown-800 pb-40">Hvor meget kaffe passer til mig?</h2>
        <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-16">Flyt cirklen langs bjælken på hvor meget kaffe din hustand drikker om dagen.</p>
        <p class="font-body font-regular text-mobile_base md:text-base text-brown-800 pb-20">Så beregner vi hvor meget kaffe der passer til dine behov.</p>
        <p class="italic font-body font-regular text-mobile_base md:text-base text-brown-800">1 kop kaffe = 18 gram per dag</p>
      </article>

      <article class="grid justify-items-center lg:order-2">
        <Image src={samlet} alt="" class="" />
        <h3 class="font-display font-bold text-mobile_s md:text-s text-brown-800">1x 500</h3>
        <h3 class="font-display font-bold text-mobile_s md:text-s text-brown-800">Grams poser</h3>
        <h4 class="font-display font-regular text-mobile_base md:text-base text-brown-800">Hver måned</h4>
      </article>

      <!-- Lavet med inspiration fra Vue Range Slider (https://codepen.io/netzzwerg/pen/mXWNEL?editors=1000) -->
      <article class="grid justify-items-center items-center gap-40">
        <Image src={kop} alt="" class="" />
        <div id="slider-bar" class="h-28 w-full rounded-full bg-brown-50 relative grid items-center"><div id="slider-handle" class="absolute z-10 w-[58px] h-[58px] rounded-full bg-brown-800 text-brown-50 cursor-pointer grid place-items-center">1 kop</div></div>
      </article>
    </div>
    <div class="absolute z-10 grid place-items-end w-full -bottom-96 md:-bottom-192"><Image src={kopkaffe} alt="" class="w-[157px] md:w-[280px]" /></div>
  </section>

  <!----------------- TIPS OG TRICKS --------------------->
  <section class="my-96 md:my-192 relative">
    <div class="absolute z-10 hidden md:grid self-end md:-top-[220px]"><Image src={branchsmall} alt="" class="-scale-x-100 md:w-[247px]" /></div>
    <div class="relative md:flex items-center overflow-hidden">
      <div class="md:order-2 whitespace-nowrap"><CarouselIkon ikon={beans_icon} ikon_name="Tips og tricks" /></div>
      <Carousel variant="left">
        <CardTips image={latte} text="Latte art for begyndere" />
        <CardTips image={iskaffe} text="Iskaffe til sommervarmen" />
        <CardTips image={espresso} text="Den perfekte espresso" />
        <CardTips image={julehygge} text="En julegave guide til kaffeelskere" />
        <CardTips image={hjerte} text="Lær at lave et hjerte i kaffen" />
        <CardTips image={steammilk} text="Sådan steamer du mælk" />
      </Carousel>

      <div class="hidden md:block absolute bottom-1/2 left-40">
        <Image src={pil_l} alt="" class="w-[50px] h-auto" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";
  /* Parallaxgrafik */
  scroll(animate(".parallaxgrafik1", { y: [0, 150, 300, 600], x: [0, -200, -250, -300, -1000] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["40vh end", "end 40vh"],
  });
</script>
