---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Kategoricard from "../components/Kategoricard.astro";
import Accordion from "../components/Accordion.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import branchsmall from "../assets/images/branch-small.svg";
import branchbig from "../assets/images/branch-big.svg";
import branchsmedium from "../assets/images/branch-medium.svg";
import ejerne from "../assets/images/ejerne.png";
import handkaffe from "../assets/images/handkaffe.png";
---

<p class="text-right mr-64">Privat Erhverv</p>

<MainLayout title="Titel">
  <article>
    <!-- Hero billede -->
    <div class="flex relative">
      <Image src={handkaffe} class="absolute top-64 left-0 z-10 md:w-[600px] w-[200px] h-auto" alt="Ønsk kaffepose i en hånd over bønner" />
    </div>

    <!-- Hero sektion -->
    <section class="md:m-16 bg-brown-100 rounded-lg m-12">
      <div class="md:grid md:grid-cols-3">
        <div></div>
        <div class="md:col-span-2">
          <h1 class="md:text-2xl md:text-left text-center text-l">ØNSK</h1>
          <h2 class="md:text-m md:text-left text-center text-s">God smag, lige til din hoveddør - hver måned</h2>
          <Button />
        </div>
      </div>
    </section>

    <!-- ILLUSTRATION -->
    <div class="flex justify-end">
      <Image src={branchsmall} alt="Lille kaffe gren" />
    </div>

    <!-- KAFFE PÅ ABONNEMENT -->
    <section class="max-w-5xl mx-auto">
      <div class="md:grid grid-cols-3">
        <div></div>
        <div class="col-span-2">
          <h2 class="md:text-m text-s">Kaffe på abonnement</h2>
          <h3 class="md:text-xs text-xxs">Kaffebranchen savner gennemskuelighed</h3>
          <p>
            Alt for ofte er det umuligt for kaffedrikkere at tyde, hvor deres kaffe kommer fra, hvordan den bliver handlet, og hvilke forhold den er skabt under. ØNSK står i kontrast til dette, og vi er båret af et brændende ønske om at være præcis det modsatte. Nemlig en gennemskuelig kaffevirksomhed, der handler direkte med vores kaffebønder og
            investerer tid og penge tilbage i deres produktion.
          </p>
          <Button />
        </div>
      </div>
    </section>

    <Image src={branchbig} alt="Stor kaffe gren" />

    <!-- POPULÆRE PRODUKTER -->
    <section class="max-w-5xl mx-auto">
      <h2 class="md:text-m text-s">Populære produkter</h2>
      <!-- CARDS -->
      <h4>Se alle produkter</h4>
    </section>

    <!-- VORES ØNSKE -->
    <section class="bg-brown-100">
      <div class="max-w-5xl mx-auto grid grid-cols-2">
        <!-- Billede af kaffe der fyldt vand I -->

        <Image src={ejerne} alt="Rasmus og Andreas tegnet illustration" />
        <div>
          <h2 class="md:text-m text-s">Vores ønske</h2>
          <p>
            ØNSK blev grundlagt i 2017 af makkerparret Rasmus og Andreas, med et ønske om at skabe en anderledes kaffevirksomhed. Deres vision var at skabe en virksomhed, der ikke kun handlede om kvalitets kaffe, men også om at gøre en positiv forskel. For kaffebønderne, for kunderne og for planeten. Som et certificeret B Corp har vi officielt
            erklæret, at vores højeste formål som virksomhed er at bidrage til en bedre verden.
          </p>
          <!-- <Button /> -->
        </div>
      </div>
    </section>

    <div class="flex justify-end">
      <Image src={branchsmedium} alt="Lille kaffe gren" />
    </div>

    <!-- KATEGORIER -->
    <section class="max-w-5xl mx-auto">
      <h3 class="md:text-m text-s">Kategorier</h3>
      <div class="grid grid-cols-4">
        <Kategoricard />
        <Kategoricard />
        <Kategoricard />
        <Kategoricard />
      </div>
      <h4 class="text-center">Se alle produkter</h4>
    </section>

    <div class="transform scale-x-[-1]">
      <Image src={branchbig} alt="Stor kaffe gren" />
    </div>

    <!-- HVORFOR HANDLE HOS OS? -->
    <section class="m-16">
      <h2 class="md:text-m max-w-xl mx-auto text-s">Hvorfor handle hos os?</h2>
      <div class="max-w-xl mx-auto">
        <Accordion question="Direkte handel og social ansvarlighed" answer="ØNSK sikrer retfærdige priser for kaffebønder ved at eliminere mellemled og opbygge længerevarende relationer, samtidig med at de bekæmper fattigdom og forbedrer levevilkår for bønderne." />
        <Accordion question="Bæredygtighed og økologisk produktion" answer="Virksomheden investerer i bæredygtige landbrugspraksisser, dyrker økologisk kaffe gennem skovlandbrug og hjælper med at reducere CO2-udledninger, forbedre jordens sundhed og øge biodiversiteten." />
        <Accordion question="Gennemsigtighed" answer="ØNSK leverer årlige bæredygtighedsrapporter, der giver et åbent indblik i virksomhedens mål og indsatser for at skabe en mere retfærdig og bæredygtig værdikæde." />
      </div>
    </section>

    <!-- TRUSTPILOT -->
    <section>
      <!-- <Trustpilot /> -->
    </section>
  </article>
</MainLayout>
