---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Hero_undersider from "../components/Hero_undersider.astro";
import CardTeam from "../components/CardTeam.astro";
import Carousel from "../components/Carousel.astro";
import CarouselIkon from "../components/CarouselIkon.astro";

import { Image } from "astro:assets";
// import hero_pattern from "../assets/images/hero_pattern.jpg";
import pattern from "../assets/images/om_os/pattern.svg";
import om_os_hero from "../assets/images/om_os/om_os_hero.svg";
import historie1 from "../assets/images/om_os/historie1.webp";
import bean from "../assets/images/om_os/bean.webp";
import ill1 from "../assets/images/om_os/ill1.svg";
import ill2 from "../assets/images/om_os/ill2.svg";
import ill3 from "../assets/images/om_os/ill3.svg";
import branch_small from "../assets/images/branch-small.svg";
import historie3 from "../assets/images/om_os/historie3.webp";
import beredygtighed1 from "../assets/images/om_os/beredygtighed1.webp";
import beredygtighed2 from "../assets/images/om_os/beredygtighed2.webp";
import kontakt1 from "../assets/images/om_os/kontakt1.webp";
import ikon_team from "../assets/images/om_os/ikon_team.svg";
import pil_r from "../assets/images/om_os/pil_r.svg";

import andreas from "../assets/images/om_os/andreas.webp";
import mathias from "../assets/images/om_os/mathias.webp";
import laurits from "../assets/images/om_os/laurits.webp";
import stine from "../assets/images/om_os/stine.webp";
import jamie from "../assets/images/om_os/jamie.webp";
import noel from "../assets/images/om_os/noel.webp";

// import hero_pattern from "../assets/images/hero_pattern.jpg";
// import hero_pattern from "../assets/images/hero_pattern.jpg";
---

<MainLayout title="Titel">
  <div class="bg-brown-50">
    <Hero_undersider overskrift="Vores team" illustration={om_os_hero} />

    <article class="px-20 md:px-144">
      <div class="md:hidden">
        <div>
          <h1 class="text-mobile_l font-bold text-brown-800 py-20">Ønsk’s historie</h1>
          <h2 class="text-mobile-xs font-semibold pb-40">Fra kaffeelskere til en bedre fremtid</h2>
          <p class="text-mobile-base font-regular">
            ØNSK blev grundlagt i 2017 af makkerparret Rasmus og Andreas, med et ønske om at skabe en anderledes kaffevirksomhed. Deres vision var at skabe en virksomhed, der ikke kun handlede om kvalitets kaffe, men også om at gøre en positiv
            forskel. For kaffebønderne, for kunderne og for planeten.
          </p>
        </div>
        <div class="relative w-[450px] h-[550px]">
          <Image src={historie1} alt="photo af Rasmus og Andreas" class="rounded-lg mr-80 mt-40 w-[90%]" />
          <Image src={bean} alt="photo af a coffee bean" class="rounded-lg absolute w-[40%] z-10 bottom-4 right-4" />
        </div>
        <div>
          <p class="text-mobile-base font-regular pt-32 pb-64">Som et <span class="font-semibold">certificeret B Corp</span> har vi officielt erklæret, at vores højeste formål som virksomhed er at bidrage til en bedre verden.</p>
        </div>
      </div>

      <div class="hidden md:grid grid-cols-2 gap-8">
        <div class="relative w-[450px] h-[550px]">
          <Image src={historie1} alt="photo af Rasmus og Andreas" class="rounded-lg mr-80 mt-40 w-[90%]" />
          <Image src={bean} alt="photo af a coffee bean" class="rounded-lg absolute w-[40%] z-10 bottom-4 right-4" />
        </div>
        <div>
          <h1 class="text-l font-bold text-brown-800 py-20">Ønsk’s historie</h1>
          <h2 class="text-xs font-semibold pb-40">Fra kaffeelskere til en bedre fremtid</h2>
          <p class="text-base font-regular">
            ØNSK blev grundlagt i 2017 af makkerparret Rasmus og Andreas, med et ønske om at skabe en anderledes kaffevirksomhed. Deres vision var at skabe en virksomhed, der ikke kun handlede om kvalitets kaffe, men også om at gøre en positiv
            forskel. For kaffebønderne, for kunderne og for planeten.
          </p>
          <p class="text-base font-regular py-64 pl-80">
            Som et <span class="font-semibold">certificeret B Corp</span> har vi officielt erklæret, at vores højeste formål som virksomhed er at bidrage til en bedre verden.
          </p>
        </div>
      </div>
    </article>

    <div class="md:hidden">
      <div class="grid grid-cols-2 gap-64">
        <div>
          <Image src={ill1} alt="" />
        </div>
        <div class="pt-80">
          <h2 class="text-mobile-xs font-semibold pb-40">God kaffe med god samvittighed.</h2>
        </div>
      </div>
      <p class="text-mobile-base font-regular pb-20 px-20 md:px-144">
        Når du vælger kaffe fra ØNSK får du ikke kun kvalitetskaffe, der lever op til kvalitetsbetegnelsen specialkaffe – du vælger også at betale din kaffebonde en ordentlig pris. Samtidig får du en kaffe, der er produceret med respekt for både
        gårdens omkringliggende natur og miljø. Det, synes vi, er definitionen af god kaffe.
      </p>
      <Image src={historie3} alt="" class="rounded-lg ml-40 mt-40 w-[80%]" />
    </div>

    <div class="hidden md:grid grid-cols-2 gap-64 px-144 pt-112">
      <div>
        <h2 class="text-xs font-semibold pb-40">God kaffe med god samvittighed.</h2>
        <p class="text-base font-regular pb-20">
          Når du vælger kaffe fra ØNSK får du ikke kun kvalitetskaffe, der lever op til kvalitetsbetegnelsen specialkaffe – du vælger også at betale din kaffebonde en ordentlig pris. Samtidig får du en kaffe, der er produceret med respekt for både
          gårdens omkringliggende natur og miljø. Det, synes vi, er definitionen af god kaffe.
        </p>
      </div>
      <div>
        <Image src={historie3} alt="" class="rounded-lg ml-64" />
      </div>

      <div class="md:hidden">
        <div class="grid grid-cols-2 gap-64">
          <div>
            <Image src={ill1} alt="" />
          </div>
          <div class="pt-80">
            <h2 class="text-mobile-xs font-semibold pb-40">God kaffe med god samvittighed.</h2>
          </div>
        </div>
        <p class="text-mobile-base font-regular pb-20 px-20 md:px-144">
          Når du vælger kaffe fra ØNSK får du ikke kun kvalitetskaffe, der lever op til kvalitetsbetegnelsen specialkaffe – du vælger også at betale din kaffebonde en ordentlig pris. Samtidig får du en kaffe, der er produceret med respekt for både
          gårdens omkringliggende natur og miljø. Det, synes vi, er definitionen af god kaffe.
        </p>
        <Image src={historie3} alt="" class="rounded-lg ml-40 mt-40 w-[80%]" />
      </div>
    </div>

    <div class="hidden md:block h-144">
      <Image src={ill1} alt="" />
    </div>
    <section class="hidden md:grid grid-cols-2 bg-brown-100 pt-144 gap-144">
      <div class="pl-144">
        <h1 class="text-l font-bold text-brown-800 py-20">Bæredygtighed</h1>
        <h2 class="text-xs font-semibold pb-40">Vores løfte om en bedre kaffefremtid</h2>
        <p class="text-base font-regular">
          Kaffebranchen har ofte manglet gennemsigtighed, og for mange er det svært at finde ud af, hvor deres kaffe kommer fra, og under hvilke forhold den er produceret. ØNSK ønsker at gøre en forskel ved at være en transparent kaffevirksomhed, der
          handler direkte med kaffebønderne og investerer tilbage i deres produktion. Derfor udgiver vi hvert år en sustainability report, der giver et åbent og ærligt billede af vores arbejde og vores bæredygtighedsmål.
        </p>
        <p class="text-base font-regular pt-40 pb-64">
          I denne rapport kan du læse mere om, hvordan <span class="font-semibold">vi kæmper mod fattigdom og ulighed</span> ved at sikre, at kaffebønderne får en retfærdig pris for deres arbejde. Vi opnår dette ved at eliminere mellemled, hvilket skaber
          længerevarende relationer, forbedrer levevilkår og giver os mulighed for at investere i bæredygtige landbrugspraksisser.
        </p>

        <a href=""><p class="text-base italic underline font-regular text-bordeaux-700">Læs vores seneste Impact Report</p></a>
      </div>
      <div class="flex justify-end">
        <div class="flex flex-col items-end">
          <Image src={beredygtighed1} alt="" class="rounded-lg mt-40 mr-144" />
          <Image src={ill2} alt="" class="mt-8" />
        </div>
      </div>
    </section>
    <div class="hidden md:grid grid-cols-2 bg-brown-100 px-144 gap-144 pb-96">
      <div>
        <Image src={beredygtighed2} alt="" class="rounded-lg" />
      </div>
      <div>
        <p class="text-base font-regular pt-112 pb-64">
          <span class="font-semibold">Vores kaffe dyrkes økologisk</span> og gennem skovlandbrug, kan det gavne både biodiversiteten og miljøet. Vi arbejder for at støtte disse metoder og hjælpe bønderne med at forbedre jordens sundhed og lagre mere CO2.
        </p>
      </div>
    </div>
    <!-- mobil -->
    <div class="block md:hidden bg-brown-100 px-20 mt-40">
      <h1 class="text-mobile_l font-bold text-brown-800 py-20">Bæredygtighed</h1>
      <h2 class="text-mobile-xs font-semibold pb-20">Vores løfte om en bedre kaffefremtid</h2>
      <p class="text-mobile-base font-regular pt-20">
        Kaffebranchen har ofte manglet gennemsigtighed, og for mange er det svært at finde ud af, hvor deres kaffe kommer fra, og under hvilke forhold den er produceret. ØNSK ønsker at gøre en forskel ved at være en transparent kaffevirksomhed, der
        handler direkte med kaffebønderne og investerer tilbage i deres produktion. Derfor udgiver vi hvert år en sustainability report, der giver et åbent og ærligt billede af vores arbejde og vores bæredygtighedsmål.
      </p>
      <Image src={beredygtighed1} alt="" class="rounded-lg my-40 mr-40 w-[80%]" />
      <p class="text-mobile-base font-regular pb-32">
        I denne rapport kan du læse mere om, hvordan <span class="font-semibold">vi kæmper mod fattigdom og ulighed</span> ved at sikre, at kaffebønderne får en retfærdig pris for deres arbejde. Vi opnår dette ved at eliminere mellemled, hvilket skaber
        længerevarende relationer, forbedrer levevilkår og giver os mulighed for at investere i bæredygtige landbrugspraksisser.
      </p>

      <a href=""><p class="text-mobile-base italic underline font-regular text-bordeaux-700">Læs vores seneste Impact Report</p></a>

      <Image src={beredygtighed2} alt="" class="rounded-lg my-40 mr-40 w-[80%]" />
      <p class="text-mobile-base font-regular pb-64">
        <span class="font-semibold">Vores kaffe dyrkes økologisk</span> og gennem skovlandbrug, kan det gavne både biodiversiteten og miljøet. Vi arbejder for at støtte disse metoder og hjælpe bønderne med at forbedre jordens sundhed og lagre mere CO2.
      </p>
    </div>
    <div class="block md:hidden">
      <div class="flex justify-end">
        <Image src={ill2} alt="" class="w-[40%]" />
      </div>
    </div>
    <!-- kontakt -->
    <section class="md:grid md:grid-cols-2 md:px-144 md:pt-80 md:gap-144">
      <div class="px-20">
        <h1 class="text-mobile_l md:text-l font-bold text-brown-800">Kontakt os</h1>
        <p class="text-mobile-base md:text-base font-regular py-20">Uanset om du er nysgerrig på vores kaffe eller har spørgsmål, er du altid velkommen til at besøge vores risteri eller ringe til os. Vi glæder os til at byde dig velkommen.</p>
        <div class="md:grid md:grid-cols-2 pt-20 md:gap-20">
          <div>
            <h2 class="text-mobile-xs md:text-xs font-semibold pb-10 md:pb-0">Risteri</h2>
            <p class="text-mobile-base md:text-base font-regular pb-20">Kattegatvej 53 2150 Nordhavn</p>
          </div>
          <div>
            <h2 class="text-mobile-xs md:text-xs font-semibold">Telefon</h2>
            <p class="text-mobile-base md:text-base font-regular">+45 25 94 02 10</p>
          </div>
        </div>
        <div class="flex justify-end md:hidden">
          <Image src={branch_small} alt="" class="w-[30%]" />
        </div>
      </div>
      <div class="hidden md:block">
        <Image src={kontakt1} alt="" class="rounded-lg" />
      </div>
    </section>
    <div class="hidden md:flex justify-start">
      <Image src={ill3} alt="" class="w-[20%]" />
    </div>
    <!-- Carousel -->
    <div class="relative md:flex items-center overflow-hidden pl-20">
      <CarouselIkon ikon={ikon_team} ikon_name="Vores team" />
      <Carousel>
        <CardTeam photo={andreas} name="Andreas Kirk" position="Partner & erhvervsløsningerp" phone="+45 25 94 02 10" email="andreas@onsk.dk" />
        <CardTeam photo={mathias} name="Mathias Bunk" position="Partner, administration" phone="+45 25 94 02 10" email="mathias@onsk.dk" />
        <CardTeam photo={laurits} name="Laurits Dates Benthien" position="Kundeservice" phone="+45 25 94 02 10" email="laurits@onsk.dk" />
        <CardTeam photo={stine} name="Stine Busk" position="Digital koordinator" phone="+45 25 94 02 10" email="stine@onsk.dk" />
        <CardTeam photo={jamie} name="Jamie Breidfjord" position="Produktion & risteri" phone="+45 25 94 02 10" email="jamie@onsk.dk" />
        <CardTeam photo={noel} name="Noel Lukwaro" position="Kaffekyndig kundekonsulent" phone="+45 25 94 02 10" email="noel@onsk.dk" />
      </Carousel>
      <div class="hidden md:block absolute top-1/2 right-40 -translate-y-1/2">
        <Image src={pil_r} alt="" class="w-[50px] h-auto" />
      </div>
    </div>
    <!-- Buttons -->
    <div class="border-2 border-bordeaux-700 bg-brown-100">
      <Button variant="primary" size="large">Primary Large</Button>
      <Button variant="secondary" size="large">Secondary Large</Button>
      <Button variant="primary" size="small">Primary Small</Button>
      <Button variant="secondary" size="small">Secondary Small</Button>
    </div>
  </div>
</MainLayout>
