---
const { photo, name, position, phone, email } = Astro.props;
import { Image } from "astro:assets";
---

<div class="justify-items-center py-40 px-20">
  <Image src={photo} alt="" class="rounded-full" />
  <h3 class="text-mobile-xs md:text-xs text-bordeaux-700 font-semibold pt-12">{name}</h3>
  <p class="text-base-xs md:text-base">{position}</p>
  <p class="pt-16 text-base-xs md:text-base">{phone}</p>
  <p class="text-base-xs md:text-base">{email}</p>
</div>
