---
const { image = "", navn = "", text = "" } = Astro.props;
import { Image } from "astro:assets";
import star from "../assets/images/trustpilot/star.svg";
---

<article class="bg-brown-50 rounded-lg flex flex-col items-center pt-28 pb-32 px-32 w-[372px] h-[403px] align-baseline">
  <Image src={image} alt="Billede af personer" class="rounded-full w-[130px] h-[130px] obejct-cover" />
  <div class="text-center pt-20 font-regular">
    <h4 class="pb-8 font-display text-mobile_base md:text-base text-bordeaux-700">{navn}</h4>
    <p class="pb-8 font-body italic text-mobile_base md:text-base_s text-brown-800">{text}</p>
    <div class="flex flex-row place-self-center">
      <Image src={star} alt="Stjerne ikon" />
      <Image src={star} alt="Stjerne ikon" />
      <Image src={star} alt="Stjerne ikon" />
      <Image src={star} alt="Stjerne ikon" />
      <Image src={star} alt="Stjerne ikon" />
    </div>
  </div>
</article>
